.button-icon {
  position: relative;
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--bg);
  }

  &::before,
  &::after {
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background: currentColor;
    content: "";
  }
}

.button-menu {
  /* 三本線アイコン */
  /* Three-line icon */
  &::before {
    width: 22px;
    height: 2px;
    border-radius: 20px;
    background: currentColor;
    box-shadow:
      0 -6px 0 currentColor,
      0 6px 0 currentColor;
  }

  &::after {
    content: none;
  }
}

.button-close {
  transition:
    background-color 0.2s,
    rotate 0.2s ease;

  &:hover {
    rotate: 90deg;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
